[submodule "libfritz++"]
	path = libfritz++
	url = https://github.com/jowi24/libfritzpp.git
[submodule "liblog++"]
	path = liblog++
	url = https://github.com/jowi24/liblogpp.git
[submodule "libconv++"]
	path = libconv++
	url = https://github.com/jowi24/libconvpp.git
[submodule "libnet++"]
	path = libnet++
	url = https://github.com/jowi24/libnetpp.git
