<?xml version="1.0" encoding="UTF-8"?>
<!-- see /usr/share/kde4/config/ui/ui_standards.rc -->
<gui name="kfritz" version="18"
	xmlns="http://www.kde.org/standards/kxmlgui/1.0"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.kde.org/standards/kxmlgui/1.0 http://www.kde.org/standards/kxmlgui/1.0/kxmlgui.xsd" >
  <ToolBar name="mainToolBar" >
  	<Action name="reload"/>
  	<Action name="dialNumber"/>
  </ToolBar>
  <MenuBar>
    <Menu name="file">
     <Action name="reload"/>
    </Menu>
    <Menu name="edit">
  	<Action name="addEntry"/>
  	<Action name="deleteEntry"/>
  	</Menu>
    <Menu name="tools">
      <Action name="dialNumber"/>
      <Action name="copyNumber"/>
      <Action name="reconnectISP"/>
      <Action name="getIP"/>
    </Menu>
    <Menu name="settings">
      <Action name="showNotifySettings" append="configure_merge"/>
      <Action name="showSettings" append="configure_merge"/>
    </Menu>
    <Menu name="help">
 	  <Action name="showLog" append="help_whats_this_merge"/>
    </Menu>
  </MenuBar>
  <State name="WriteableFB">
  	<enable>
	  	<Action name="edit_cut"/>
  		<Action name="edit_paste"/>
  		<Action name="addEntry"/>
  		<Action name="deleteEntry"/>
  	</enable>
  </State>
  <State name="NoEdit">
  	<disable>
	  	<Action name="edit_cut"/>
  		<Action name="edit_paste"/>
  		<Action name="addEntry"/>
  		<Action name="deleteEntry"/>  	
  	</disable>
  </State>
  <!-- TODO: use state tag -->
</gui>
