<?xml version="1.0" encoding="UTF-8"?>
<gui name="kfritz" version="4"
	xmlns="http://www.kde.org/standards/kxmlgui/1.0"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.kde.org/standards/kxmlgui/1.0 http://www.kde.org/standards/kxmlgui/1.0/kxmlgui.xsd" >
  <ToolBar name="mainToolBar" >
  	<Action name="reload"/>
  	<Action name="dialNumber"/>
  </ToolBar>
  <MenuBar>
    <Menu name="file">
     <Action name="reload"/>
    </Menu>
    <Menu name="tools">
      <Action name="dialNumber"/>
      <Action name="reconnectISP"/>
      <Action name="getIP"/>
    </Menu>
    <Menu name="settings">
      <Action name="showNotifySettings" append="configure_merge"/>
      <Action name="showSettings" append="configure_merge"/>
    </Menu>
    <Menu name="help">
 	  <Action name="showLog" append="help_whats_this_merge"/>
    </Menu>
  </MenuBar>
</gui>