[Desktop Entry]
Name=KFritz
Name[cs]=KFritz
Name[de]=KFritz
Name[es]=KFritz
Name[et]=KFritz
Name[fr]=KFritz
Name[ga]=KFritz
Name[gl]=KFritz
Name[hu]=KFritz
Name[km]=KFritz
Name[mr]=के-फ्रिट्झ
Name[nds]=KFritz
Name[nl]=KFritz
Name[pl]=KFritz
Name[pt]=KFritz
Name[pt_BR]=KFritz
Name[sk]=KFritz
Name[sv]=Kfritz
Name[tr]=KFritz
Name[ug]=KFritz
Name[uk]=KFritz
Name[x-test]=xxKFritzxx
Type=Application
Icon=modem
Exec=kfritz
GenericName=Call notificator
GenericName[cs]=Upozorňování na hovory
GenericName[de]=Anruf-Benachrichtigung
GenericName[es]=Notificación de llamada
GenericName[et]=Telefonikõnede märguandja
GenericName[fr]=Notificateur d'appels
GenericName[gl]=Notificador de chamadas
GenericName[hu]=Hívásértesítő
GenericName[km]=កម្មវិធីជូន​ដំណឹង​​នៃ​ការ​ហៅ
GenericName[mr]=कॉल सूचना देणारा
GenericName[nds]=Anroop-Bescheden
GenericName[nl]=Oproepmelder
GenericName[pl]=Powiadamianie o rozmowie telefonicznej
GenericName[pt]=Notificador de chamadas
GenericName[pt_BR]=Notificador de chamadas
GenericName[sk]=Upozornenie na hovor
GenericName[sv]=Samtalsunderrättelse
GenericName[tr]=Arama bildirici
GenericName[uk]=Програма сповіщення про дзвінки
GenericName[x-test]=xxCall notificatorxx
Comment=Access call history and phone book of your Fritz!Box and get notifications on incoming and outgoing calls.
Comment[de]=Zugriff auf den Anrufverlauf und das Adressbuch Ihrer Fritz!Box und Benachrichtigungen über ein- und ausgehende Anrufe.
Comment[es]=Accede al historial de llamadas y al directorio telefónico de su Fritz!Box y recibe notificaciones de las llamadas entrantes y salientes.
Comment[et]=Oma Fritz!Boxi kõneajaloo ja telefoniraamatu kasutamise võimalus ning märguannete saamine sisenevate ja väljuvate kõnede kohta.
Comment[fr]=Accédez à l'historique des appels, au répertoire téléphonique de votre « Fritz!Box » et obtenez les notifications sur les appels entrants et sortants.
Comment[gl]=Acceda ao historial de chamadas e ao caderno de enderezos da súa Fritz!Box e obteña notificacións sobre as chamadas entrantes e saíntes.
Comment[hu]=Hozzáférés a Fritz!Box hívási előzményeihez és telefonkönyvéhez, valamint értesítések fogadása bejövő és kimenő híváskor.
Comment[km]=ចូល​មើល​ប្រវត្តិ​ហៅ និង​សៀវភៅ​ទូរស័ព្ទ​នៃ Fritz!Box របស់​អ្នក​ ហើយ​យក​ការ​ជូនដំណឹង​​នៅ​ពេល​ហៅ​ចូល និង​ចេញ ។
Comment[mr]=तुमच्या फ्रिट्झबोक्सच्या कॉलचा इतिहास व फोन पुस्तक बघा व आत येणाऱ्या व बाहेर जाणाऱ्या कॉल्सची सूचना मिळवा.
Comment[nl]=Toegang tot de geschiedenis en telefoonboek van uw Fritz!Box en meldingen verkrijgen van inkomende en uitgaande oproepen.
Comment[pl]=Przeglądaj historię rozmów telefonicznych i książkę telefoniczną swojego Fritz!Box i otrzymuj powiadomienia o rozmowach przychodzących i wychodzących.
Comment[pt]=Aceder ao histórico de chamadas e lista telefónica da sua Fritz!Box e obter notificações sobre as chamadas recebidas e efectuadas.
Comment[pt_BR]=Acessar o histórico de chamadas e a lista telefônica da sua Fritz!Box e obter notificações sobre as chamadas recebidas e efetuadas.
Comment[sk]=Pristupujte k histórii hovorov a telefónnemu zoznamu vášho Fritz!Boxu a dostávajte upozornenia o prichádzajúcich a odchádzajúcich hovoroch.
Comment[sv]=Hämta samtalshistorik och telefonkatalog från Fritz!Box och erhåll underrättelser om inkommande och utgående samtal.
Comment[tr]=Fritz!Box'unuzun arama geçmişine ve telefon rehberine ulaşın ve gelen ile giden çağrıların bildirimlerini alın
Comment[uk]=Користуйтеся журналом дзвінків та телефонною книгою вашого Fritz!Box та отримуйте сповіщення про вхідні та вихідні дзвінки.
Comment[x-test]=xxAccess call history and phone book of your Fritz!Box and get notifications on incoming and outgoing calls.xx
Terminal=false
Categories=Qt;KDE;Utility;TelephonyTools;
X-KDE-StartupNotify=true
