[Desktop Entry]
Name=KFritz
Type=Application
Icon=modem
Exec=kfritzbox
GenericName=Call notificator
Comment=Access call list and phone book of your Fritz!Box and get notifications on incoming and outgoing calls.
Terminal=false
Categories=Qt;KDE;Utility;TelephonyTools
X-KDE-StartupNotify=true
X-Ubuntu-Gettext-Domain=desktop_kfritzbox
